https://localhost {
	redir http://localhost{uri}
}

http://localhost {
	reverse_proxy nginx:80
}

pma.localhost {
	reverse_proxy phpmyadmin:80
}

:80 {
	reverse_proxy nginx:80
}

:443 {
	reverse_proxy nginx:80
}
